<% include partials/header %>

<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/">FreeLotto</a></h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/">FAQ</a>
                <a class="nav-link" href="/">Kontakt</a>
              </nav>
            </div>
          </div>  

          <div class="inner cover">
            <h1 class="cover-heading">Gratis Lotto spielen</h1>
            <p class="lead">Jetzt mit nur wenigen klicks registrieren und gewinnen. Echtes Geld, ohne Risiko. Und das von Zuhause aus.</p>
            <p class="lead">
              <a href="/register" class="btn btn-lg btn-secondary">Registrieren</a>
              <a href="/login" class = "btn btn-lg btn-tertiary">Einloggen</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Impressum Bla Bla Bla</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    

<% include partials/footer %>
