<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/form.css">
 
<div class="container">

  <form class="form-signin" action="/login" method="POST">
    <h2 class="form-signin-heading">Einloggen</h2>
    
    <input type ="text" name="username" placeholder="Benutzername" class="form-control" required autofocus>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Passwort" required>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Anmelden</button>
  </form>

</div> 

<% include partials/footer %>